.container {
  position: relative;
}

.text-block {
  background-color: blue;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.text-block h3 {
  color: white;
  font-size: 40px;
}

/* CSS for header */
body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: 'Roboto';
}

.header {
  background-color: #EDEDED;
  text-align: center;
  padding: 5px;
}

a:link {
  color: #EC8305; 
  text-decoration: none; 
}

a:visited {
  color: #000000;
  text-decoration: underline; 
}

.header a:hover {
  color: #000000be; 
  text-decoration: none;
}