.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    color: #000000;
    font-weight: bold;
    display: flex;
    align-items: center;
}

ul {
    color: #000000;
}

body {
    background-color: #FFFFFF;
    margin: 0;
    font-family: 'Roboto';
}

.header {
    background-color: #EDEDED;
    text-align: center;
    padding: 5px;
}

a:link {
    color: #EC8305; 
    text-decoration: none; 
    font-weight: bold;
}

a:visited {
    color: #000000;
    text-decoration: underline; 
}

.header a:hover {
    color: #000000be; 
    text-decoration: none;
}

a:hover {
    color: #000000be; 
    text-decoration: underline;
}

