.container {
  position: relative;
}
  
.text-block {
  background-color: white;
  opacity: 0.5;
  padding: 1em;
  position: absolute;
  bottom: 2em;
  right: 2em;
}
  
h3 {
  font-size: 40px;
}

/* CSS for header */
body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: 'Roboto';
}

.header {
  background-color: #EDEDED;
  text-align: center;
  padding: 5px;
}

a:link {
  color: #EC8305; 
  text-decoration: none; 
}

a:visited {
  color: #EC8305;
  text-decoration: underline; 
}

.header a:hover {
  color: #000000be; 
  text-decoration: none;
}